<a href="https://colab.research.google.com/github/Agam8118/Python_basics/blob/main/Worksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Worksheet 2")

Worksheet 2

In [ ]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)  # Output: [11, 12, 13, 14, 50, 60]

[11, 12, 13, 14, 50, 60]

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[12, 14, 50, 60]
[60, 50, 14, 12]

In [ ]:
found = 14 in L
print(found)
print(L.index(14))
print(L)

True
1
[12, 14, 50, 60]

In [ ]:
L = [11,12,13,14,50,60]
print(len(L))

6

In [ ]:
sum = 0
for i in L:
    sum += i
print(sum)

160

In [ ]:
sum = 0
for i in L:
    if(i%2!=0):
      sum += i
print(sum)

24

In [ ]:
sum = 0
for i in L:
    if(i%2==0):
      sum += i
print(sum)

136

In [ ]:
L.clear()
print(L)  # Output: []

[]

In [ ]:
del(L)

Q2

In [ ]:
L = [11,12,13,14,50,60]
sum = 0
for i in L:
    sum += i
print(sum)

160

Q3

In [ ]:
L = [11,12,13,14,50,60]
product = 1
for i in L:
    product *= i
print(product)

72072000

Q4

In [ ]:
def array(x,y,z):
  for i in range(x):
    for j in range(y):
      for k in range(z):
        print('*',end = ' ')
      print()
    print()

array(3,4,6)

* * * * * *
* * * * * *
* * * * * *
* * * * * *

* * * * * *
* * * * * *
* * * * * *
* * * * * *

* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
# Function to create a 3D array
def generate_3d_array(x, y, z):
    return [[[ '*' for _ in range(z)] for _ in range(y)] for _ in range(x)]

# Dimensions of the 3D array
depth = 3  # 3 layers
rows = 4   # 4 rows in each layer
cols = 6   # 6 columns in each row

# Generate the 3D array
array_3d = generate_3d_array(depth, rows, cols)

# Print the 3D array
for layer in array_3d:
    for row in layer:
        print(row)
    print()  # Print a newline between layers

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']

Q5

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.pop(2)
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
print(D.get(6))
print(D)

None
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
key_check = 6
if(key_check in D):
  print(f"{key_check} is present")
else:
  print(f"{key_check} is not present")

6 is not present

In [ ]:
len(D)

5

In [ ]:
D.values
sum =0
for i in D.values():
  sum += i
print(sum)

37.4

In [ ]:
D.update({3:7.1})
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print(D)

{}

Q6

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80,90}
S1.add(50)
S1.add(66)
print(S1)

{50, 66, 20, 40, 10, 60, 30}

In [ ]:
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 40, 60}

In [ ]:
found = 40 in S1
print(found)

True

In [ ]:
union_set = S1|S2
print(union_set)

{66, 70, 40, 80, 50, 20, 90, 60}

In [ ]:
S1.intersection_update(S2)
print(S1)

{40, 50, 60}

In [ ]:
S1.difference(S2)
print(S1)

set()

Q7

In [ ]:
for i in range(1,101):

In [ ]:
L = [1,2,5,8,10,13,16,18,25]
print("Original List= ")
for i in L:
    print(f"{i}", end= " ")
print("\n")
print("Numbers divisible by 5 = ")
for i in L:
    if(i%5==0):
        print(f"{i}",end = " ")

Original List=
1 2 5 8 10 13 16 18 25

Numbers divisible by 5 =
5 10 25

In [ ]:
a = int(input("Enter the number: "))
is_even = False
if(a%2==0):
    is_even = True
if(is_even):
    print("The entered number is even")
else :
  print("The entered number is odd")

Enter the number: 7
The entered number is odd

In [ ]:
a = input("Enter the string: ")
count = a.count("Emma")
# for i in a:
    # if(i == Emma):
      # count+=1
print(f"The substring 'Emma' appears {count} times in the string")

Enter the string: Emma is sister of Emma and daughter of Emma
The substring 'Emma' appears 3 times in the string

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = [11,12,13,14,15,16,17,18,19]
c = []
for i in a:
  if(i%2!=0):
    c.append(i)
for i in b:
  if(i%2==0):
    c.append(i)
print(c)

[1, 3, 5, 7, 9, 12, 14, 16, 18]